// ===============================================================
// Footer
// ===============================================================

.footer {
	background: $color-secondary;
	border-top: 15px solid $color-primary;

	&__info {
		width: 100%;
		height: auto;
		position: relative;
		@include media(">tablet") {
			max-width: 380px;
			display: block;
			position: relative;
		}
		@include media(">desktop") {
			max-width: 437px;
		}
		&-logo {
			width: 100%;
			max-width: 384px;
			height: auto;
			position: relative;
			display: block;
			margin-bottom: 1.5rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&-description,
		&-copyright {
			display: block;
			color: $color-white;
			font-family: $font-secondary;
			font-weight: 400;
			transition: all 0.3s ease;
			margin-bottom: 1.5rem;
			line-height: 1.25;
			font-size: 18px;
		}
	}

	&__links {
		width: 100%;
		height: auto;
		position: relative;

		@include media(">tablet"){
			padding-left: 40px;
		}

		@include media(">desktop") {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 1.5rem;
			padding-left: 95px;
		}

		&-item {
			width: 100%;
			display: block;
			margin-bottom: 1.5rem;

			@include media(">desktop"){
				margin-bottom: 0;
			}

			h4 {
				color: $color-white;
				margin-bottom: 1.5rem;
				font-size: 20px;
			}

			// General footer element styling
			ul {
				list-style: none;
			}

			a:not(.button) {
				display: inline-block;
				color: $color-white;
				font-family: $font-secondary;
				font-weight: 400;
				transition: all 0.3s ease;
				margin-bottom: 0.5rem;
				line-height: 1.25;
				font-size: 18px;

				&:hover,
				&:focus {
					color: $color-primary;
				}
			}

			p {
				display: block;
				color: $color-white;
				font-family: $font-secondary;
				font-weight: 400;
				transition: all 0.3s ease;
				margin-bottom: 1.5rem;
				line-height: 1.25;
				font-size: 18px;
			}

			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}


.footer__main {
	@include constrain;
	display: block;
	padding-top: 40px;
	padding-bottom: 30px;
	@include media(">tablet"){
		display: flex;
		padding-top: 100px;
		padding-bottom: 72px;
	}
}

.footer__blurb {
	background-color: $color-primary;
	padding: 1.5rem;
	text-align: center;

	a {
		color: $color-white;
		font-family: $font-primary;
		font-weight: 700;
		font-size: 20px;
		position: relative;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			&::before {
				width: 100%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			background-color: $color-white;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			transition: all 0.3s ease;
		}
	}
}
