// ===============================================================
// Footer
// ===============================================================

.footer {
	background: $color-secondary;

	&__social {
		.social-block {
			margin-bottom: 0;
			padding: 0;
		}
	}

	&__info {
		&-copyright,
		&-description {
			color: #fff;
			font-family: $font-primary;
			font-weight: 600;
			font-size: var(--font-xsmall);

			a {
				color: #fff;
				font-family: $font-primary;
				font-weight: 600;
				font-size: var(--font-xsmall);
				transition: all 0.3s ease;

				&:hover,
				&:focus {
					color: $color-primary;
				}
			}
		}

		&-top {
			display: flex;
			gap: 15px;

			ul {
				list-style-type: none;
				display: flex;
				align-items: center;
				gap: 15px;

				li a {
					color: #fff;
					font-family: $font-primary;
					font-weight: 600;
					font-size: var(--font-xsmall);
					transition: all 0.3s ease;

					&:hover,
					&:focus {
						color: $color-primary;
					}
				}
			}
		}
	}
}	


.footer__main {
	@include constrain;
	display: flex;
	gap: 25px;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;

	@include media(">tablet"){
		gap: 0;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

