//===============================================================
// Page builder styling
// ===============================================================

.page-builder {
    width: 100%;
    height: auto;
    position: relative;
	display: block;

    &-block {
        display: block;
		padding-top: 17.5px;
		padding-bottom: 17.5px;

        @include media(">tablet"){
			padding-top: 35px;
			padding-bottom: 35px;
        }

        @include media(">desktop"){
			padding-top: 37.5px;
			padding-bottom: 37.5px;
        }
		
		&.page-builder-block--background {
			background-color: $color-secondary;
			margin-top: 17.5px;
			margin-bottom: 17.5px;
			padding-top: 35px;
			padding-bottom: 35px;
	
			@include media(">tablet"){
				margin-top: 35px;
				margin-bottom: 35px;
				padding-top: 70px;
				padding-bottom: 70px;
			}
	
			@include media(">desktop"){
				margin-top: 37.5px;
				margin-bottom: 37.5px;
				padding-top: 75px;
				padding-bottom: 75px;
			}

			h1, h2, h3, h4, h5, p {
				 color: $color-white;
			}
		}
    
        &:last-child {
            margin-bottom: 0;
        }

		&-wrapper {
			@include constrain();
			width: 100%;
			height: auto;
			position: relative;
			display: block;

			&.page-builder-block-wrapper--full-width {
				max-width: none;
				padding: 0;
			}
		}

		.single-image {
			width: 100%;
			position: relative;
			height: 275px;
			display: block;
			overflow: hidden;
		
			@include media(">phone"){
				height: 300px;
			}
		
			@include media(">tablet"){
				height: 400px;
			}
		
			@include media(">desktop"){
				height: 400px;
			}
		
			@include media(">desktopLarge"){
				height: 500px;
			}
		
			@include media(">desktopXLarge"){
				height: 700px;
			}

			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&__caption {
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $color-secondary;
				padding: 15px;

				@include media(">tablet"){
					padding: 15px 30px;
				}

				@include media(">desktop"){
					padding: 30px 50px;
				}

				&-text {
					color: $color-white;
					font-size: var(--font-medium);
				}
			}
		}

        .text-block {
            margin: 0 auto;

			:last-child {
				margin-bottom: 0;
			}
        }

        .image-and-text {
			width: 100%;
			height: auto;
			position: relative;

			&__wrapper {
				width: 100%;
				height: auto;
				position: relative;
				display: flex;
				flex-direction: column;
				
				@include media(">tablet"){
					display: grid;
					align-items: center;
					grid-template-columns: 1fr 1fr;
					gap: 60px;
				}

				@include media(">desktop"){
					gap: 83px;
				}

				@include media(">desktopLarge"){
					gap: 100px;
				}

				&.reverse {
					.image-and-text__text {
						@include media(">tablet"){
							order: 1;
						}
					}

					.image-and-text__image {
						@include media(">tablet"){
							order: 2;
						}

						&::before {
							@include media(">tablet"){
								top: -20px;
								right: -20px;
								left: auto;
							}
					
							@include media(">desktopLarge"){
								top: -35px;
								right: -35px;	
								left: auto;	
							}
						}
					}
				}
			}
			&__text {
				width: 100%;
				height: auto;
				position: relative;

				// > * {
				// 	color: $color-white;
				// }

				// .button:hover,
				// .button:focus {
				// 	background-color: $color-white;
				// 	color: $color-primary;
				// }
			}
			&__image {
				width: 100%;
				height: auto;
				position: relative;
				margin-bottom: 2rem;

				@include media(">tablet"){
					margin-bottom: 0;
				}

				@include media(">desktop"){
					min-height: 540px;
					height: 100%;
				}

				&::before {
					content: '';
					z-index: 0;
					position: absolute;
					top: -10px;
					left: -10px;
					width: 100%;
					height: 100%;
					background-color: $color-primary;

					@include media(">tablet"){
						top: -20px;
						left: -20px;
					}
			
					@include media(">desktopLarge"){
						top: -35px;
						left: -35px;		
					}
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: 1;
				}
			}
        }

		.video-block {
			&__title {
				display: block;
				margin-bottom: 2rem;
			}
			&__poster {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.downloads-block {
			width: 100%;
			height: auto;
			position: relative;

			&__title {
				display: block;
				margin-bottom: 2rem;
			}

			&__grid {
				width: 100%;
				height: auto;
				position: relative;
				display: grid;
				grid-template-columns: 1fr;
				gap: 20px;

				@include media(">tablet"){
					gap: 35px;
				}

				@include media(">desktop"){
					gap: 45px;
				}
			}

			&__item {
				width: 100%;
				display: grid;
				grid-template-columns: auto 100px;
				gap: 15px;
				position: relative;
				align-items: center;
				height: auto;
				border-bottom: 1px solid #EFEFEF;
				padding-bottom: 15px;

				&:hover,
				&:focus {
					.downloads-block__item-icon {
						background-color: $color-secondary;
					}
				}

				&-text {
					> * {
						color: $color-secondary;
					}
				}

				&-icon {
					width: 50px;
					height: 50px;
					background-color: $color-primary;
					border-radius: 14px;
					transition: all 0.3s ease;
					justify-self: flex-end;
					background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="56.76" height="56.761"><path fill="%23fff" d="M45.429 30.875 28.38 47.923 11.331 30.875l3.136-3.136 11.7 11.7V0H30.6v39.434l11.7-11.7ZM56.76 52.326H0v4.435h56.76Zm0 0"/></svg>');
					background-position: center;
					background-size: 25px;
					background-repeat: no-repeat;

					@include media(">tablet"){
						width: 70px;
						height: 70px;
						background-size: 35px;
					}
				}
			}
		}

		.cta-block {
			width: 100%;
			height: auto;
			position: relative;

			&__title {
				display: block;
				margin-bottom: 2rem;
			}

			&__wrapper {
				width: 100%;
				height: auto;
				position: relative;
				display: grid;
				grid-template-columns: 1fr;
				gap: 15px;
			}

			&__item {
				width: 100%;
				height: auto;
				position: relative;
				background-color: $color-secondary;
				padding: 30px;

				> .button {
					margin-top: 1.5rem;
				}
				&-title {
					padding-bottom: 1.5rem;
					border-bottom: 1px solid #ffffff;
					margin-bottom: 1.5rem;
				}

				&-title,
				&-text {
					color: $color-white;
				}

				&.size--small {
					.cta-block__item-title {
						font-size: var(--font-medium);
					}
				}
			}
		}

		.concertina-block {
			width: 100%;
			height: auto;
			position: relative;

			&__title {
				display: block;
				margin-bottom: 2rem;
			}

			&__wrapper {
				width: 100%;
				height: auto;
				position: relative;
			}

			&__grid {
				display: grid;
				grid-template-columns: 1fr;
				gap: 15px;
				width: 100%;
				height: auto;
				position: relative;
			}

			&__item {
				width: 100%;
				height: auto;
				position: relative;
				overflow: hidden;
				transition: all 0.3s ease;

				&.concertina-block__item--open {
					.concertina-block__item-heading-icon {
						transform: scaleY(-1);
					}
					.concertina-block__item-heading::before {
						width: 100%;
					}
					.concertina-block__item-body {
						visibility: visible;
						opacity: 1;
						display: block;
					}
				}

				&-heading {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: auto;
					position: relative;
					background-color: $color-secondary;
					color: $color-white;
					padding: 15px;
					font-size: var(--font-small);
					border-radius: 0;
					text-align: left;

					@include media(">tablet"){
						padding: 8px 30px;
					}

					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						height: 5px;
						width: 0;
						background-color: $color-primary;
						transition: all 0.6s ease;

						@include media(">tablet"){
							height: 10px;
						}
	
					}

					&-icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 50px;
						height: 50px;
						transition: all 0.3s ease;

						.svg-wrapper {
							width: auto;
							height: auto;
							margin: 0;
							@include media(">desktop") {
								padding-bottom: 3px;
							}

							svg {
								fill: $color-white;
								width: 15px;

								@include media(">desktop") {
									width: 25px;
								}
							}
						}
					}
				}

				&-body {
					width: 100%;
					height: auto;
					position: relative;
					background-color: $color-grey-light;
					padding: 15px;
					visibility: hidden;
					opacity: 0;
					display: none;
					transition: visibility 0s, opacity 0.5s linear;

					@include media(">tablet"){
						padding: 30px 30px;
					}
				}
			}
		}

		.team-members-block {
			width: 100%;
			height: auto;
			position: relative;

			&__wrapper {
				width: 100%;
				height: auto;
				position: relative;
			}

			&__title {
				margin-bottom: 1.5rem;
			}

			&__grid {
				width: 100%;
				height: auto;
				position: relative;
				display: grid;
				gap: 15px;
				grid-template-columns: 1fr;

				@include media(">tablet"){
					grid-template-columns: repeat(2, 1fr);
				}

				@include media(">desktop"){
					grid-template-columns: repeat(3, 1fr);
					gap: 20px;
				}
			}

			&__item {
				width: 100%;
				height: auto;
				position: relative;
				-webkit-box-shadow: 0px 0px 29px -17px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 29px -17px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 29px -17px rgba(0,0,0,0.75);
				border-bottom: 4px solid $color-secondary;

				&:hover,
				&:focus {
					.team-members-block__item-email {
						opacity: 0.7;
					}
				}

				&-email {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: $color-secondary;
					display: flex;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: all 0.3s ease;

					.svg-wrapper {
						width: 75px;
						height: 75px;
						svg {
							fill: $color-white;
						}
					}
				}

				&-image {
					width: 100%;
					height: 275px;
					overflow: hidden;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: top center;
					}
				}

				&-text {
					width: 100%;
					height: auto;
					padding: 15px;
					background-color: $color-white;
				}

				&-name {
					color: $color-secondary;
				}
				&-role {
					color: $color-secondary;
				}
				&-bio {

				}
			}
		}

		.cards-block {
			width: 100%;
			height: auto;
			position: relative;

			&__title {
				display: block;
				margin-bottom: 2rem;
			}


			&__wrapper {
				width: 100%;
				height: auto;
				position: relative;
			}

			&__grid {
				width: 100%;
				height: auto;
				position: relative;
				display: grid;
				gap: 15px;
				grid-template-columns: 1fr;
		
				@include media(">phone"){
					grid-template-columns: 1fr 1fr;
				}
		
				@include media(">desktop"){
					gap: 26px;
					grid-template-columns: repeat(3, 1fr);
				}
		
				&-item {
					width: 100%;
					height: auto;
					position: relative;
					display: block;
					border-top-right-radius: 24px;
					overflow: hidden;
					min-height: 200px;
		
					&:hover,
					&:focus {
						.cards-block__grid-item-image img {
							transform: scale(1.1);
						}
					}
		
					&-image {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						overflow: hidden;
		
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							z-index: 2;
							transition: all 0.3s ease;
						}
		
						&-overlay {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 3;
							opacity: 0.7;
						}
					}
		
					&-text {
						width: 100%;
						height: 100%;
						position: relative;
						z-index: 4;
						padding: 100px 15px 15px 15px;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
		
						&-logo {
							position: absolute;
							top: 15px;
							left: 15px;
							width: 200px;
							height: 70px;
		
							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
								object-position: left;
							}
						}
		
						h2 {
							color: #fff;
							font-size: var(--font-medium);
							margin: 0;
						}
					}
				}
			}
		}
    }
}
