// ===============================================================
// Layout for members archive page
// ===============================================================

.members {
    width: 100%;
    height: auto;
    position: relative;
    min-height: calc(100vh - 200px);
    padding-bottom: 5rem;

    &__wrapper {
        @include constrain();
    }

    &__filters {
        width: 100%;
        height: auto;
        position: relative;

        &-form {
            width: 100%;
            height: auto;
            position: relative;
            margin-bottom: 1.5rem;

            &-categories {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                margin-bottom: 15px;

                label {
                    padding: 15px 0px 15px 35px;
                    border-bottom: 2px solid $color-secondary;
                    color: $color-secondary;
                    font-size: var(--font-small);
                    font-weight: 700;
                    text-transform: uppercase;
                    position: relative;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }            
                    
                    input:checked ~ .checkmark {
                        background-color: $color-secondary;
                    }

                    input:checked ~ .checkmark:after {
                        display: block;
                    }
                      

                    /* Create a custom checkbox */
                    .checkmark {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(0, -50%);
                        height: 25px;
                        width: 25px;
                        background-color: #eee;
                        border: 2px solid $color-secondary;

                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 7px;
                            top: 0;
                            width: 8px;
                            height: 18px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &-buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .button {
                    &:focus {
                        background-color: $color-secondary;
                    }
                }
            }
        }

        &-results {
            width: 100%;
            height: auto;
            position: relative;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr;

            @include media(">phone"){
                grid-template-columns: repeat(3, 1fr);
            }

            @include media(">tablet"){
                grid-template-columns: repeat(4, 1fr);
                gap: 25px;
            }

            @include media(">desktop"){
                grid-template-columns: repeat(5, 1fr);
            }

            @include media(">desktopLarge"){
                grid-template-columns: repeat(5, 1fr);
            }

            &-info {
                grid-column: 1/-1;
                width: 100%;
            }

            &-item {
                width: 100%;
                height: 100px;
                position: relative;
                border: 2px solid $color-secondary;
                background-color: $color-white;
                padding: 15px;

                &-logo {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    padding: 10px;

                    img {
                        width: 80%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                        margin: 0 auto;
                    }
                }

                &-keys {
                    position: absolute;
                    z-index: 2;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    gap: 15px;

                    &-item {
                        width: 100%;
                        height: auto;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        overflow: hidden;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            
        }
    }

    &__wrapper,
    &__categories,
    &__keys {
        width: 100%;
        height: auto;
        position: relative;
    }

    &__categories {
        margin-bottom: 1.5rem;

        @include media(">phone"){
            margin-bottom: 2.5rem;
        }

        @include media(">tablet"){
            margin-bottom: 3.5rem;
        }

        @include media(">desktop"){
            margin-bottom: 4.5rem;
        }

        &-grid {
            width: 100%;
            height: auto;
            position: relative;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr;

            @include media(">phone"){
                grid-template-columns: 1fr 1fr;
            }

            @include media(">tablet"){
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include media(">desktop"){
                grid-template-columns: repeat(5, 1fr);
            }


            &-item {
                width: 100%;
                height: auto;
                position: relative;
                padding: 15px;
                transition: all 0.3s ease;
                text-align: center;

                &:hover,
                &:focus {
                    .members__categories-grid-item-title {
                        color: $color-white;
                    }
                    .members__categories-grid-item-image::before {
                        opacity: 1;
                        background-color: $color-secondary;
                    }
                }

                &-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: $color-primary;
                    transition: all 0.3s ease;
                }

                &-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $color-primary;
                        opacity: 0.7;
                        z-index: 2;
                        transition: all 0.3s ease;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &-title {
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 3;
                    font-size: var(--font-small);
                    margin: 0;
                    color: $color-white;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    &__keys {
        margin-bottom: 1.5rem;

        @include media(">phone"){
            margin-bottom: 2.5rem;
        }

        @include media(">tablet"){
            margin-bottom: 3.5rem;
        }

        @include media(">desktop"){
            margin-bottom: 4.5rem;
        }

        &-grid {
            width: 100%;
            height: auto;
            position: relative;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr;
            padding-top: 1.5rem;

            @include media(">phone"){
                grid-template-columns: 1fr 1fr;
            }

            &-item {
                height: 100%;
                display: flex;
                flex-direction: column;

                &-main {
                    padding: 15px;
                    height: fit-content;
    
                    &-title {
                        color: $color-white;
                        font-size: var(--font-small);
                    }
                }

                         
                &-secondary {
                    padding: 15px;
                    height: 100%;
                }
    
            }

        }
    }

    &__companies {
        width: 100%;
        height: auto;
        position: relative;

        &-grid {
            width: 100%;
            height: auto;
            position: relative;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr;

            @include media(">phone"){
                grid-template-columns: repeat(3, 1fr);
            }

            @include media(">tablet"){
                grid-template-columns: repeat(4, 1fr);
                gap: 25px;
            }

            @include media(">desktop"){
                grid-template-columns: repeat(5, 1fr);
            }

            @include media(">desktopLarge"){
                grid-template-columns: repeat(5, 1fr);
            }

            &-item {
                width: 100%;
                height: 100px;
                position: relative;
                border: 2px solid $color-secondary;
                background-color: $color-white;
                padding: 15px;

                &-logo {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    padding: 10px;

                    img {
                        width: 80%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                        margin: 0 auto;
                    }
                }

                &-keys {
                    position: absolute;
                    z-index: 2;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    gap: 15px;

                    &-item {
                        width: 100%;
                        height: auto;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        overflow: hidden;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}