// ===============================================================
// Banner styling
// ===============================================================

.banner {
	height: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 75px 0;
	width: 100%;

	// Remove margin for job posts
	body.single-jobpost & {
		margin-bottom: 0;
	}

	&.banner--has-image {
		padding: 100px 0;
		@include media(">desktop"){
			min-height: 350px;
		}
	}

	&.banner--information-category,
	&.banner--members-category {
		padding-bottom: 0;
		margin-bottom: 0;

		@include media(">desktop"){
			padding-bottom: 170px;
		}
	}
}

.banner__search {
	margin-bottom: 0;
}

.banner__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.3;
		z-index: 2;
	}

	&-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		z-index: 2;
		opacity: 1;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
}

.banner__wrapper {
	@include constrain;
	z-index: 3;
	height: 100%;
	width: 100%;
	display: block;
}

.banner__content {
	display: block;
	transition: all 0.3s ease;

	h1 {
		font-size: var(--font-xxlarge);
		color: $color-white;
		line-height: 1.1;
		transition: all 0.1s ease;
		text-transform: uppercase;
	}

	p {
		display: none;
		font-weight: 700;
		color: $color-white;
		font-size: var(--font-medium);
		text-transform: uppercase;

		@include media(">desktop") {
			display: block;
		}
	}

	b,
	strong {
		color: $color-primary;
		font-weight: 700;
	}
}

.banner__background {
	width: 100%;
	height: 100%;
	background: $color-secondary;
	position: absolute;
	top: 0;
	left: 0;
}
