// ===============================================================
// Custom pagination function styling
// ===============================================================

.custom-pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	gap: 14px;
	margin-bottom: 50px;

	@include media(">tablet"){
		margin-bottom: 75px;
	}

	@include media(">desktop"){
		margin-bottom: 100px;
	}

	// Active element styling
	li.active a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;
		background-color: $color-primary;
		transition: all 0.3s ease;
		width: auto;
		width: 60px;
		height: 60px;
		outline: none;
		border: none;
		font-size: 1.2em;

		&:hover,
		&:focus {
			background-color: $color-primary;
			color: #fff;
		}
	}

	li:not(.next):not(.previous):not(.active) a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;
		background-color: $color-secondary;
		transition: all 0.3s ease;
		width: 60px;
		height: 60px;
		outline: none;
		border: none;
		font-size: 1.2em;

		&:hover,
		&:focus {
			background-color: $color-primary;
			color: #fff;
		}
	}

	li.next a,
	li.previous a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-white;
		background-color: $color-secondary;
		transition: all 0.3s ease;
		width: auto;
		padding: 0 15px;
		height: 60px;
		outline: none;
		border: none;
		font-size: 1.2em;

		&:hover,
		&:focus {
			background-color: $color-primary;
			color: #fff;
		}
	}
}
